@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  * {
    @apply box-border;
  }
  .input {
    @apply text-[16px] h-auto! w-full pl-11 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#008CBA] focus:border-transparent outline-none transition;
  }
  .input-filter {
    @apply text-[14px] h-auto! w-full pl-8 pr-2 py-1.5 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#008CBA] focus:border-transparent outline-none transition;
  }
  .input-icon {
    @apply absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400;
  }
  .input-icon-right {
    @apply absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 cursor-pointer;
  }
  .input-icon-filter {
    @apply absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400;
  }
  .input-label {
    @apply block text-sm font-medium text-gray-700;
  }
  .input-msg {
    @apply text-sm text-red-500 mt-1;
  }
  .input-checkbox {
    @apply mt-1 mr-3 h-4 w-4 text-[#008CBA] focus:ring-[#008CBA] border-gray-300 rounded;
  }
  /* .btn {
    @apply py-3 px-4 rounded-lg font-semibold text-white transition-all duration-200 bg-blue-600 hover:bg-blue-700 active:bg-blue-80;
  } */
}
